{% extends "main/base.html" %}

{% block title %}
Logowanie
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Użytkownik</label>
            <br>
            <input type="text" name="username" value="" id="id_username">
        </div>
        <div class="form-group">
            <label for="id_password">Hasło</label>
            <br>
            <input type="text" name="password" value="" id="id_password">
        </div>
        <button type="submit" class="btn btn-success" style="margin-bottom: 20px;">Zaloguj się</button>

        <p>Nie masz jeszcze konta? Stwórz je <a href="{% url 'register' %}">tutaj</a>.</p>
    </form>
{% endblock %}